.vscode/

# Dependencies
node_modules/
example/android/build/
example/android/.gradle/
example/ios/build/
example/node_modules/
example/package-lock.json
.cxx

# Build outputs
lib/
android/build/
android/.gradle/
ios/build/
*.xcworkspace
!default.xcworkspace
xcuserdata/
DerivedData/

# IDE
.idea/
*.iml
.DS_Store

# TypeScript
*.tsbuildinfo

# Tests
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
